@import 'tailwindcss';

.frame {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow: visible;
}

.corner {
  position: absolute;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 8s ease forwards;
}

.corner.top-right {
  top: 0;
  right: 0;
  transform: scaleX(-1);
}

.corner.bottom-left {
  bottom: 0;
  left: 0;
  transform: scaleY(-1);
}

.corner.bottom-right {
  bottom: 0;
  right: 0;
  transform: scale(-1);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}